[Unit]
Description=Pull and deploy hive repo every 5 minutes

[Timer]
OnBootSec=60
OnUnitActiveSec=60
Persistent=true

[Install]
WantedBy=timers.target
