[Unit]
Description=Kick issue-scanner every 15 minutes
Requires=kick-scanner.service

[Timer]
OnCalendar=*:00,15,30,45
AccuracySec=30s
Unit=kick-scanner.service

[Install]
WantedBy=timers.target
