[Unit]
Description=Kick architect every 60 minutes
Requires=kick-architect.service

[Timer]
OnCalendar=*:00
AccuracySec=30s
Unit=kick-architect.service

[Install]
WantedBy=timers.target
